sentence-transformers==2.2.2  # for vector embeddings
langchain
flask  # for user interface
pypdf
python-dotenv  # for managing the .env file (and API keys)
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
#-e .